<html>
<head>
<title>fsdfsd</title>
</head>
<body>
<p>hello</p>
<p>hi <%= name %></p>
<p>vaa: <%= id %> </p>
<div id="newTemp"></div>
<div id="newTemps"></div>

<input id="new-tem-val" type="text" />
<div></div>


</body>

<script type="text/javascript" src="/ejs.min.js"></script>
<script type="text/javascript" src="/main.js"></script>
<script type="text/javascript">

var tmpl="<p>newtemplate</p>";
var newtem = document.getElementById("newTemp");
 
setTimeout(function(){
	 newtem.innerHTML = ejs.render(tmpl);
},2000)

</script>
</html
