<%- include header%>
<form method="post">
<p>
	<label>title:</label>
	<input class="text aa" type="text" name="title">
<p/>
<p>
	<label>content:</label> 
	<textarea name="post" rows="18" cols="100"></textarea>
</p>
<p><input class="button" type="submit" name="提交"></p>
</form>
<%- include footer%>